extends layout

block content
    div.row-fluid
        span8
            h3 Will You Rape Me uses facial recognition to determine how likely a person will rape you by comparing their faces to the ones in the Nevada Sex Offender Registry.

            div#photoHolder

            div.dropper#drop_container
                div#drop_zone Drag Over A Picture Of Potential Predator

            button.btn#btnSubmit Submit

            script
                var payload = {};
                var photo = null;

                $("#btnSubmit").click(function() {

                    var img = $('img#photo')[0];

                    var canvas = document.createElement("canvas");
                    canvas.width = img.width;
                    canvas.height = img.height;

                    var ctx = canvas.getContext("2d");
                    ctx.drawImage(img, 0, 0);

                    var dataURL = canvas.toDataURL("image/png");

                    payload.photo = dataURL.replace(/^data:image\/(png|jpg);base64,/, "");

                    $.ajax({
                        type: "POST",
                        url: "/search",
                        data: payload,
                        success: function(data) {
                            window.location.href = data.url;
                        }
                    });

                    return false;
                });


                $("#btnSubmit").attr("disabled", "disabled");
                function handleFileSelect(evt) {
                    evt.stopPropagation();
                    evt.preventDefault();
                    photo = evt.dataTransfer.files[0];
                    // TODO - do some validation that its a picture
                    var imageReader = new FileReader();
                    imageReader.onload = (function (aFile) {
                        return function (e) {
                            $('#drop_container').remove();
                            $('#photoHolder').append('<img id="photo" src="' + e.target.result + '"/>');
                            resizePhoto();
                            $('img#photo').imgAreaSelect({
                                x1: 120,
                                y1: 90,
                                x2: 280,
                                y2: 210,
                                handles: true,
                                onSelectEnd: function (img, selection) {
                                    $("#btnSubmit").removeAttr("disabled");
                                    payload.x1 = selection.x1;
                                    payload.x2 = selection.x2;
                                    payload.y1 = selection.y1;
                                    payload.y2 = selection.y2;
                                }
                            });
                        };
                    })(photo);
                    imageReader.readAsDataURL(photo);
                }

                function handleDragOver(evt) {
                  evt.stopPropagation();
                  evt.preventDefault();
                  evt.dataTransfer.dropEffect = 'copy';
                }

                var dropZone = document.getElementById('drop_zone');
                dropZone.addEventListener('dragover', handleDragOver, false);
                dropZone.addEventListener('drop', handleFileSelect, false);

                function resizePhoto() {
                    var photo = $("img#photo");
                    var maxWidth = 600;
                    var maxHeight = 480;
                    var ratio = 0;
                    var width = photo.width();
                    var height = photo.height();
                    if (width > maxWidth) {
                        ratio = (maxWidth / width);
                        photo.attr({
                            width : maxWidth,
                            height : (height * ratio)
                        });
                        height = (height * ratio);
                        width = (width * ratio);
                        if (height > maxHeight) {
                            ratio = (maxHeight / height);
                            photo.attr({
                                height : maxHeight,
                                width : (width * ratio)
                            });
                        }
                    }
                }